.cloze-question {
  padding: 30px;
  margin-bottom: 20px;
  background-color: #fff; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding-bottom: 50px;
}

.text-editor {
  margin-bottom: 15px;
}

.toolbar button {
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.toolbar button:hover {
  background-color: #0056b3;
}

.editor-container {
  min-height: 70px;
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 4px;
  width: 600px;
}

.preview-section {
  margin-top: 15px;
}

.preview-text .preview-line {
  margin-bottom: 5px;
}

.dashed-text {
  display: inline-block;
  border-bottom: 2px dashed #555;
  padding: 0 5px;
}

.options-section {
  margin-top: 15px;
}

.options-section .cloze-option {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: transparent;
}

.options-section {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  margin-top: 10px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: move; 
}

.option .delete-option {
  background-color: #ff4d4f;
  border: none;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.option .delete-option:hover {
  background-color: #d9363e;
}
.question-section input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 600px;
}
.input-group {
  margin-bottom: 20px;
  flex-direction: column;
  display: flex;
  width: 100%;
}

.input-label {
  font-size: 16px;
  margin-right: 10px;
}
.input-group input {
  padding: 10px;
}
.required-star {
  color: red; 
  font-size: 18px;
}
.cloze-question-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
}
.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.question-section img {
  display: block;
  margin-top: 10px;
  max-width: 100%;
}

input[type="checkbox"] {
  appearance: none; 
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 3px; 
  background-color: white;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

input[type="checkbox"]:checked {
  background-color: #007bff; 
  border-color: #007bff;
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 4px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.ql-snow * {
  box-sizing: border-box;
  font-size: 16px;
  color: #000;
}
