.comprehension-question {
  padding: 30px;
  margin: 10px 20px;
  background-color: #fff; /* Adds a background color */
  border-radius: 8px; /* Optional: Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Even shadow on all sides */
  width: calc(100% - 160px);
}

.paragraph-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.question-block {
  padding: 30px;
  margin-bottom: 20px;
  background-color: #fff; /* Adds a background color */
  border-radius: 8px; /* Optional: Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.question-input {
  /* width: 75%; */
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.question-actions button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  margin-left: 0.5rem;
  cursor: pointer;
}

.options-block {
  margin-top: 0.5rem;
}
.option-row {
  display: flex;
  align-items: center;
  /* margin-bottom: 0.5rem; */
}

.option-row input[type="radio"] {
  flex-shrink: 0;
  margin-right: 0.5rem;
  width: 1rem; /* Ensure small fixed width for the radio button */
  height: 1rem; /* Adjust height if needed */
}
.option-row input[type="text"] {
  border: none; /* Adjust height if needed */
  padding: 5px;
}

.option-input {
  flex-grow: 1; /* Allow the text input to take the remaining space */
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.answer-display {
  font-weight: bold;
  margin-top: 0.5rem;
}
.comprehension-question-container,
.mcq-questions-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}
.comprehension-question img {
  display: block;
  margin-top: 10px;
  max-width: 100%;
}
