.tabbed-quiz-app {
    font-family: Arial, sans-serif;
  }
  
  .tabs {
    display: flex;
        justify-content: center;
        margin: 20px;
        gap: 20px;
  }
  
  .tabs button {
    /* padding: 10px 20px; */
    margin-right: 8px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    padding: 16px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    color: #000;
  }
  
  .tabs button.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .tab-content {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
  }
  